*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(214,214,214);
  
}

.main{
    /* border: 8px solid gray; */
    width: 200px;
    height:420px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(214,214,214);
    box-shadow: 5px 5px 5px #b6a9a9,  -5px -5px 10px #ffffff;
    font-size: 30px;
    margin: 80px auto;
}

.call input{
    
    border: none;
    outline: none;
    color: black;
    text-align: right;
    font-weight: 600;
    height: 30px;
    padding: 15px;
    margin: 20px 0 10px 0 ;
    background: transparent;
    box-shadow:inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff;
    display: flex;
    
}  

.clear button{
    margin: 15px 0 0 5px;
    width: 85px;
    height: 35px;
    border :none;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(201, 6, 6);
    color: white;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #faf4f4;
    display: inline-block;
    
}

.btn{
    margin: 15px 0 0 5px;
    width: 35px;
    height: 35px;
    border :none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(214,214,214);
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #faf4f4;
    display: inline-block;

}
button:active{
    box-shadow:inset 1px 1px 2px #babecc,inset -1px -1px 2px #ffff
}
.btnn{
    margin: 15px 0 0 5px;
    width: 35px;
    height: 35px;
    border :none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #faf4f4;
    display: inline-block;
}
p{
    height: 10px;
    
}